 <%-include('partials/header.ejs')%>


        <h1 class="filmes">
          ❤️ Meus Genêros favoritos!
        </h1>
    
<div class="container-noticias">
       <form action="/Generos/Alterar" method="post">
    <label>Escolha seu Genero:</label>
    <input type="text" name="nome" required placeholder="Insira o genero do filme..." value="<%= alterar.titulo%>">
    <input type="hidden" name="id" value="<%=alterar.id%>">
    <button type="submit">
        Inserir
    </button>
 </form>


</div>

<div class="voltar">
    <a href="/">Voltar para o catálogo</a>
</div>
</body>
</html>