<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <p> Nocturna </p>
        <div class="cabecalho">
            <a href="/" class="link1">Home</a>
            <a href="noticias" class="link1">Noticias</a>
            <a href="favoritos" class="link1">Favoritos</a>
            <a href="perfil" class="link1">Perfil</a>
        </div>
    </header>
    <div>
        <h1 class="filmes">
          ❤️ Meus Filmes Favoritos de Terror!
        </h1>
    
<div class="container-noticias">
        <table>
            <th>
                Titulo
            </th>
            <th>
                Duração
            </th>
            <th>
                Genêro
            </th>
            <%favorito.forEach((favoritos)=>{%>
            <tr>
                <td><%=favoritos.titulo%></td>
                <td><%=favoritos.duracao%></td>
                <td><%=favoritos.genero%></td>
                
            </tr>
       <% }) %>

        </table>

</div>

<div class="voltar">
    <a href="/">Voltar para o catálogo</a>
</div>
</body>
</html>