 <%-include('partials/header.ejs')%>
    <div>
        <h1 class="filmes">
          ❤️ Meus Filmes Favoritos de Terror!
        </h1>
    
<div class="container-noticias">
        <table>
            <th>
                Titulo
            </th>
            <th>
                Duração
            </th>
            <th>
                Genêro
            </th>
            <%favorito.forEach((favoritos)=>{%>
            <tr>
                <td><%=favoritos.titulo%></td>
                <td><%=favoritos.duracao%></td>
                <td><%=favoritos.genero%></td>
                
            </tr>
       <% }) %>

        </table>

</div>

<div class="voltar">
    <a href="/">Voltar para o catálogo</a>
</div>
</body>
</html>