 <%-include('partials/header.ejs')%>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1> Cadastrar Genero</h1>
        </div>
        <div class="card-body">
            <form action="/Generos/Cadastrar" method="POST">
                <label>Escolha seu Genero:</label>
                <input type="text" name="nome" required placeholder="Insira o genero do filme..."  class="form-control" >
                <button type="submit" class="btn btn-success"> Cadastrar </button>
                <button type="reset" class="btn btn-danger"> Limpar</button>
            </form>
        </div>
    </div>
</div>

 <div>
        <h1 class="filmes">
          ❤️ Meus Genêros favoritos!
        </h1>
</div>
    
<div class="container-noticias">
        <table>
            <th>
                Nome:
            </th>
            <th>
                Ações:
            </th>
            
            <% consulta.forEach((titulo)=> {%>
               <tr>
                    <td>
                        <%= titulo.titulo %>
                    </td>
                    <td>
                        <a href="/Generos/Excluir/<%=titulo.id%>"> <button>Excluir</button></a>
                        <a href="/Generos/Alterar/<%=titulo.id%>"> <button>Alterar</button></a>
                    </td>
                </tr>
            <%}) %>
        </table>
</div>

<div class="voltar">
    <a href="/">Voltar para o catálogo</a>
</div>
</body>
</html>