<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Filmes de Terror</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <p> Nocturna </p>
        <div class="cabecalho">
            <a href="/" class="link1">Home</a>
            <a href="noticias" class="link1">Noticias</a>
            <a href="favoritos" class="link1">Favoritos</a>
            <a href="perfil" class="link1">Perfil</a>
        </div>
    </header>
    
    <div class="hero">
        <h1 class="hero-h1">Catálogo de Filmes de Terror </h1>
      <p>Sua lista de filmes faritos em qualquer lugar!</p>
      
        <br>

            <button class="btn-assistir">▶ Veja sua lista</button>
 
    </div>
    
     
</body>
</html>