 <%-include('partials/header.ejs')%>
    
    <div class="hero">
        <h1 class="hero-h1">Catálogo de Filmes de Terror </h1>
      <p>Sua lista de filmes faritos em qualquer lugar!</p>
      
        <br>

            <button class="btn-assistir">▶ Veja sua lista</button>
 
    </div>
    
     
</body>
</html>