 <%-include('partials/header.ejs')%>
    <h1 class="titulo">🩸 Notícias de Filmes de Terror</h1>

<div class="container-noticias">
    <%noticia.forEach((noticias) =>{ %> 
        <div class="noticia">
        <h2><%=noticias.titulo%></h2>
        <p><%=noticias.corpo%></p>
        <button>Ler mais</button>
    </div>

    <% }) %>

    

</div>

<div class="voltar">
    <a href="/">Voltar para o catálogo</a>
</div>

</body>
</html>