
   <%-include('partials/header.ejs')%>
    <div class="telaPerfil">
        <div class="FotoPerfil">
            <img src="<%=usuario[2]%>" alt="" class="FotoUsuario">
            <h1 class="nome-perfil"><%=usuario[0]%></h1>

            
                <button class="btn-filmes">
                    <%=usuario[1]%>
                </button>
                </div>
            </div>
          
</body>
</html>